
html,body{

    background-color: #161B30 !important;
    color: #e9eaeb;
}
.bg-heading{
    background: var(--bg-dark-gradient);
    color: #fff;
}
.text-own-dark,
.vis-label{
    color: #000 !important;
}
body .text-secondary{
    color: #bbbbbb !important;
}
.appLogo{
    content :url('./logo-dark.png');

}
.side-nav{
    background-color: #222B45;
    color: #e9eaeb;
    box-shadow: 2px 2px 15px black;



}
.side-nav-sm{
    background-color: #222B45;
    color: #e9eaeb;
}

.navbar ul li:hover{
    background-color: #2F80ED;
    color: white;
    border-radius: 5px;

}
.navbar ul li:hover a{
    color:white;
}
.navbar ul li a:hover{
    background-color: #2F80ED;
    color: white;

}
.navbar ul li a{

    color: #e9eaeb;

}
.navbar-small li i{

    color:rgb(255, 255, 255);
}
.navbar-small li i:hover{
    background-color: transparent;
    color: white;
}

.active-nav{
    background-color: #6e85ff73;
    box-shadow:4px 4px 10px rgba(0,0,0,.3);
    color: white !important;


}
.ranges ul li:hover{
    color:#000 !important;
}
.nav-tabs  a.active, .nav-tabs  a:hover{
    box-shadow: 5px 5px 15px rgb(17, 17, 17) !important;
    border: 1px solid rgb(0, 178, 248) !important;
    background-color: #222B45 !important;
    color:#fff !important;
    border-radius: 10px !important;

}
.icon-navbar{
    background-color: white;
}
.icon-navbar i{

    color: #636977;
}

.user-profile-content{

    color: #fff;
    background-color: #222B45;
    box-shadow: 2px 2px 15px black;

}
.user-nav{
    color: #636977;


}
.user-nav li a{
    color: #fff;

}
.user-nav li:hover i{
    color:#2F80ED;
}
.user-nav li:hover a{
    color: #2F80ED;
}
.content{

    background-color: #161B30;


}
.navigation{

    background-color: #222B45;
    box-shadow: 2px 2px 15px black;

}

.notification-wrap{

    background-color: #222B45;
    color:#ffff;
    box-shadow: 2px 2px 10px black;

}
.cards{


    background: #222B45;
    color:#e9eaeb !important;

}
text{
    color:#e9eaeb;
}
.card-trend-up{
    color: #00D68F;
    padding:2px 4px;
    margin-right:5px;
}
.text-blue{
    color:#2F80ED;
}
.txt-green{
    color: #00D68F;
}
.btn-green{
    background-color: #00D68F;
    color: #e9eaeb;
}
.card-trend-down{
    color:#FF3D71;
    padding:2px 4px;
    margin-right:5px;
}
.cards-icon{

    color:white;

}
.tables thead{
    box-shadow: 0px 1px 5px black;
}
.tables-icon {
    color: black;

}
.tabs,div{
    color:#fff;
}
.table thead,.table tbody td{
    color:#fff;
}
/* Form Designs */
input,textarea{
    background-color: #222B45 !important;
    color: white !important;
}

select{
    background-color: #222B45 !important;
    color: #e9eaeb !important;
}
input[type=text]{
    background-color: #222B45;
    color: white !important;
    height: 34px;
}
textarea{
    background-color: #222B45;
    color: #e9eaeb;
}
.form-group input{

    background-color: #222B45;
    border-bottom: 1px solid silver ;
}

.form-group label{
    color: #e9eaeb !important;;
}
.form-group label:hover{
    color: #2F80ED !important;
}
.daterangepicker {
      background-color: #222B45 !important;
      color:#fff !important;
}
.calendar-table{
    background-color: #222B45 !important;
    border :0px;
}

.cancelBtn {
    color: black !important;
}

/*SCROLL BAR  */
::-webkit-scrollbar {
    width: 10px;

  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .modal-content{
      background-color:  #222B45 !important;
      color:#fff  !important;
  }

  .modal-header .close {
    color: white !important;
}

hr{
    border-top:1px solid rgb(207, 207, 207)!important;
}

.badge-green span, .badge-green span i {
    color: green !important;
}

.badge-red span, .badge-red span i {
    color: red !important;
}
.badge-blue{
    background-color: rgb(205, 225, 252)!important;
    color:rgb(0, 32, 73)!important;
}
.badge-red{
    background-color: #e6c4c9!important;
    color:#fd4453e0!important;
}

.badge-yellow{
    background-color: rgba(240, 255, 108, 0.911);
    color:rgb(51, 51, 51);

}
.badge-green{
    background-color: rgb(195, 255, 234)!important;
    color:rgb(0, 117, 0)!important;
}

.badge-purple{
    background-color: rgb(247, 229, 250)!important;
    color:purple !important;
}
.badge-grey{
    background-color: grey !important;
    color: #fff !important;;

}
.badge-dark-blue{
    background-color: rgb(227, 248, 255) !important;
    color:rgb(0, 0, 88) !important;
}
.badge-green-yellow{
    background-color: rgb(227, 248, 255) !important;
    color:rgb(126, 211, 0) !important
}
.badge-dark-red{
    color:darkred
}
.badge-seagreen{
    color:lightseagreen
}

.custom-file-label{
    color: #fff !important;;
    background-color:#222B45 !important;
}

.select2-container--default .select2-selection--multiple {
background-color:#222B45 !important;
}
.select2-container--default .select2-results>.select2-results__options {
    background-color: #222B45 !important;
    color: white;

    }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #222B45 !important;
}

.dataTables_length{
    color: white !important;
}
#beam_load_filter,#beam_trend_filter,.filter-option-inner-inner{
    color: black !important;
}
.paginate_button {
    color:white !important;
}
.dataTables_info{
    color:#fff !important;
}
body .bg-white {
    background-color: #222B45 !important;
    background: #222B45 !important;
}
body .text-dark,
label, span.ellipsis,
a,.text-dark:hover{
    color: #fff !important;
}
.bg_gradient_own, .settings div {
    background: linear-gradient(309deg, rgb(42 44 53) 0%, rgb(31 69 177) 100%) !important;
}

/* process map css dark */
#header2,.highlight ,.mdi,.filter-option-inner-inner,.blockyinfo h6,.dark-color{
    color: #fff !important;
}
.bg-lights,.border-0,.dropdown-toggle{
    background-color: #222B45 !important;
    color: white !important;
}
.bootstrap-select>.dropdown-toggle:after,.blockyinfo,.blockyname,.blockdesc,.blocktitle{
    color: #fff !important;
}
.leftcard,.blockelem,.blockyright,#properties,.blockico,#subnav,.inputsuggestions{
    background: #222B45 !important;
    color:#e9eaeb !important;

}
.blockelem.create-flowy{
    background-color: #161B30 !important;
    border-color:  #fff !important;
}
.navactive{
    color: none !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(141 145 179 / 15%) !important;
}
table.dataTable thead tr, table thead tr{
    background: var(--bg-dark-gradient) !important;
}
/* table th, table td{
    border: 1px solid #fff;
} */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,.btn-primary,
.daterangepicker .ranges li.active{
    background-color: var(--btn-dark) !important;
    border-color: var(--btn-dark) !important;
}
.dropdown-menu.show{
    background: #161b30 !important;
    border: 1px solid #a4a4a4 !important;
}
.dropdown-item:focus, 
.dropdown-item:hover{
    background: var(--btn-dark) !important;
}
.btn-outline-primary {
    border-color:var(--text-color) !important;
    color: var(--text-color) !important;
}
.chart_overlay{
    background: rgb(20 20 20 / 14%) !important;
    border-radius: 16px !important;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(2.5px) !important;
    -webkit-backdrop-filter: blur(2.5px) !important;
}
div#swal2-content{
    color: #595959 !important;
}
/* .btn-primary, .bg-primary,.nav-tabs a.active,
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
input#file-upload-button{
    background: var(--bg-dark-gradient) !important;
    border-color:var(--border-dark) !important;
    color: var(--text-color) !important;
}


.btn-primary.focus,
.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem var(--btn-shadow) !important;
}
.card-body nav a.nav-item{
    color: var(--text-theme);
}
a#cam_edit,
.text-primary{
    color: var(--text-theme) !important;
}
.text-border{
    border-left: 4px solid var(--text-theme) !important;
} */
