.btn-primary, .bg-primary,.nav-tabs a.active,
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
input#file-upload-button{
    background: var(--bg-gradient) !important;
    border-color:var(--border-dark) !important;
    color: var(--text-color) !important;
}


.btn-primary.focus,
.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem var(--btn-shadow) !important;
}
.card-body nav a.nav-item{
    color: var(--text-theme);
}
a#cam_edit,
.text-primary{
    color: var(--text-theme) !important;
}
.text-border{
    border-left: 4px solid var(--text-theme) !important;
}

body{
    background-color: #EBECF0 !important;
}
.appLogo{
    content :url('./logo-light.png');

}
.side-nav{
    background-color: #ffff !important;
    border-right: 0.5px solid #e1e4e8;
}
.side-nav-sm{
    background-color: #fff;
    border-right: 1px solid rgb(224, 224, 224);
}
.navbar ul li:hover{
    background-color: #007bff  !important;
    color: white;


}
.navbar ul li:hover a{
    color:white;
}
.navbar ul li a:hover{
    background-color: #007bff !important;
    color: white;

}
.navbar ul li a{

    color: #636977 ;

}
.navbar-small li i{

    color:rgb(92, 92, 92);
}
.navbar-small li i:hover{
    background-color: #007bff !important;
    color: white;

}
.navbar-small li a:hover{
    box-shadow: 5px 5px 10px rgb(137, 185, 240);
}
.active-nav{
    background-color: #007bff !important;
    box-shadow:4px 4px 10px rgba(0,0,0,.3);
    color: white !important;
}
/* .active-nav-sm{
    box-shadow: 5px 5px 10px rgb(137, 185, 240);
} */
.active-nav:hover{
    color: #fff;
}
.nav-tabs  a.active{

    background-color: #007bff !important;
    color:rgb(255, 255, 255) !important;
    border-radius: 2em;

}

.icon-navbar{

    background-color: white !important;

}

.icon-navbar i{

    color: #636977 !important;
}
.user-profile-content{

    background-color: white;
    box-shadow: 2px 2px 15px silver;

}
.user-nav{
    color: #636977 !important;


}
.user-nav li a{
    color: #636977 !important;

}
.user-nav li:hover{

    color:#007bff !important;


}
.user-nav li:hover a{
    color:#007bff !important;
}

.content{
    background-color: #EBECF0 !important;
}

.navigation{
    background-color: white !important;
    border-bottom: 1px solid #e1e4e8 !important;
}


.search-form{
   border:2px solid #007bff !important;


}
.search-form:focus{
    border:2px solid #868f9b !important;
}
.notification-wrap{

    background-color: white !important;
    box-shadow: 1px 0px 2px silver;
}

.notify-title{
    border-bottom: 1px solid silver;
}

.notify-time{

    color: rgb(145, 143, 143);
}

.active-borders{
    border-bottom: 3px solid #007bff;
    color: #007bff;
}
.tabs div:hover{
    border-bottom: 3px solid #007bff;
    color: #007bff;

}

.cards{

    background: white;
    border: 1px solid rgb(219, 219, 219);
}
.card-trend-up{
    color:rgb(255, 255, 255);

}
.card-trend-down{
    color:rgb(255, 255, 255);

}

.cards-icon{
    color:white;
}

.text-border{
    border-left: 4px solid #007bff;
    border-top-left-radius: 14px;
}
.btn-green{
    background-color: #00D68F;
    color: #e9eaeb;
    text-decoration: none;

}
.btn-green:hover{
    color: #fff;
    box-shadow: 1px 1px 5px black;
    padding-right:10px;
    padding-left:10px;
}


.live-update{
    box-shadow: 2px 2px 5px silver;
}

.live-active{
    color:#007bff;
    border-bottom: 3px solid #007bff;
}

.forms-group input{

    background-color: white;;
    border-bottom: 1px solid silver ;

}
.forms-group input:focus{
    border-bottom: 2px solid #007bff ;
}
.forms-group label:hover{
    color: #007bff !important;
}
.txt-green{
    color:green
}


.badge-blue{
    background-color: rgb(212, 228, 248)!important;
    color:rgb(2, 106, 241)!important;
}
.badge-red{
    background-color: #ffe3e7!important;
    color:#fc0318c2!important;
}
.badge-yellow{
    background-color: rgba(240, 255, 110, 0.822);
    color:rgb(206, 158, 0);

}
.badge-green{
    background-color: rgb(223, 246, 238)!important;
    color:green!important;
}
.badge-purple{
    background-color: rgb(247, 236, 248)!important;
    color:purple !important;
}
.badge-grey{
    background-color: rgb(173, 173, 173) !important;
    color: rgb(255, 255, 255) !important;;

}
.badge-dark-blue{
    background-color: rgb(228, 232, 240) !important;
    color:rgb(0, 0, 71) !important
}
.badge-green-yellow{
    background-color: rgb(221, 233, 227) !important;
    color:rgb(88, 105, 82) !important
}
.badge-dark-red{
    background-color: rgb(255, 218, 218)!important;
    color:rgba(236, 0, 0, 0.479) !important;
}
.badge-seagreen{
    color:lightseagreen
}
.text-blue{
    color:#000b5d
}


.active-nav, .navbar ul li a:hover,.navbar ul li:hover,div.navbar ul li:hover a,
.active-nav-sm,.navbar-small li a:hover,.navbar-small li:hover a {
    background-color: #ffffff4a !important;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.062);
    color: var(--text-color) !important;
}
.side-nav-sm,.side-nav,.card-body nav a.nav-item:hover,
.settings div {
    /* background: linear-gradient(89deg,#E6F7FA 0%,#F6FDF0 50%) !important; */
    /* background-image: linear-gradient(150deg, #5c6a9a 0%, #384884 67%, #303068 100%); */
    background-image: var(--bg-gradient);
    color: var(--text-color) !important;
}
div.navbar-small li i:hover {
    background-color: transparent !important;
}
.navbar ul li a,.navbar-small ul li i{
    color: var(--text-color);
}