
:root{
    /* --text-nav: #50aad0; */
    --text-color: #fff;
    --text-theme: #343C76;
    /* --bg-gradient:linear-gradient(150deg, #5c6a9a 0%, #384884 67%, #303068 100%); */
    /* sample 1 */
    --bg-gradient:linear-gradient(0deg, rgba(53,72,139,1) 0%, rgba(15,33,105,1) 67%, rgba(27,27,89,1) 100%);
    --bg-dark-gradient:linear-gradient(0deg, rgb(31 41 78) 0%, rgb(61 79 148) 67%, rgb(83 83 131) 100%);
    --btn-dark: #6e85ff73;

    /* sample 2 */
    /* --bg-gradient:linear-gradient(0deg, rgba(27,27,89,1) 31%, rgba(15,33,105,1) 54%, rgba(53,72,139,1) 100%); */
    
    --border-dark:#343C76;
    --btn-shadow:rgb(71 71 71 / 36%)
}

.bg-lights {
    background-color: #f8f9fa !important
}
#loading.text-primary,
a.text-primary{
    color: var(--text-theme) !important;
}

*{
    padding: 0px 0px;
    margin: 0px;

}
.bg-heading{
    background: var(--bg-gradient);
    color: #fff;
}
.text-grey{
    color: #8d8d8d !important;
    pointer-events: none;
}
html,body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif !important ;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* background: #6d6d6d;  */
}


.navbar-small, .navbar{
    overflow-y: auto !important;
    max-height: 90vh !important;
    scroll-behavior: smooth;

}
/*  */
@media screen and ( max-height: 906px ){
    /* [data-toggle="tooltip"]{
        pointer-events: none;
    } */
}
/*  */
.cursor-wait{
    cursor:wait !important;
}
.side-nav{
    height: 100vw;
    width:220px;
    position: fixed;
    transition: 0s;
}
.side-nav-sm{
    display: block;
    height: 100vw;
    width:80px;
    position: fixed;
    transition: 0s;
}


.nav-logo-sm{
    padding-left: 15px ;
    padding-top: 10px;
    width:60px;
    height: 70px;

}
.nav-logo{
    width: 180px;
    margin-left: 20px;
    padding-top: 15px;
}

.logo-responsive img{
    width: 180px;
    margin-left: 20px;
    padding-top: 15px;
    display: none;

}

.logo-responsive-active img{
    display: block;
}
.navbar{
    margin-top: 30px;

}
.navbar ul{
    list-style: none;
    line-height: 30px;

}
.navbar ul li{

    text-align:left;
    display: block;
    margin: 10px 0px;



}

.navbar ul li:hover{
    background-color: #6e85ff73;
    color: white;
    border-radius: 5px;

}
.navbar ul li:hover a{
    color:white !important;
}
.navbar ul li a:hover{
    background-color: #6e85ff73;
    color: white;
    border-radius: 10px;
}
.navbar ul li a{
    display: inline-block;
    width:100%;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    padding: 5px 20px;
    width:100%;
    border-radius: 5px;

}
.navbar ul li a i{
    padding-right:15px;
}

.navbar-small{
    line-height: 50px;
    font-size: 25px;
    margin-top:50px;

}
.navbar-small li{
    margin-left: 10px;
    margin-top: 10px;
}
.navbar-small li a{
    padding: 0px 15px;
}

.navbar-small li a:hover{
    background-color: #6e85ff73;
    color: white !important;
    border-radius: 3px;


}
.navbar-small li a:hover i{
    color: white !important;
}
.active-nav-sm{
    background-color: #6e85ff73 ;
    color: #fff !important;
    border-radius: 5px;
}
.active-nav-sm i{
    color: #fff !important;
}
.close-menu{
    display:none;
}

.user-profile{
    height: 40px;
    width:40px;
    border-radius: 50%;
    margin-top: 10px;

}

.user-name i{
    position: relative;
    right:10px;

}
.user-profile-content{
    display: none;
    width:200px;
    height:auto;
    top:65px;
    right: 10px;
    position:absolute;
    opacity: 1;
    z-index: 100;
    border-radius: 10px;
    transition: 0.2s;
}
.user-role{
    position: relative;
    bottom: 2px;
    font-size: 12px;
    text-align: left;
}
.user-nav{

    font-size: 13px;
    margin-left: 5px;

}
.user-nav i{
    padding: 0px 7px;
    font-size: 12px;
}
.user-nav li{
    padding-bottom: 0px 5px;

}
.user-nav li a{
    width: 100%;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
}
.user-nav li:hover i{

    color:#2F80ED;


}
.user-nav li:hover a{
    color: #2F80ED;
}

.content{
    position: relative;
    top: 0;
    margin-left:80px;
}

.content-responsive{
    margin-left:220px;

}

#plannedstop .row,#unplannedstop .row,#edit_upStop .row,#edit_pStop .row{
    margin:15px 0px !important;
}
.dash-content{
    min-height: calc(100vh - 75px);
    margin: 15px 15px 0px 15px;
}

.footer{
    /* position: absolute; */
    /* bottom: 0; */
    text-align: center;
    margin: 15px 15px 0px 15px;
    font-size: small;
    width:100wv;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navigation{

    position: sticky;
    top:0;
    height: 60px;
    justify-content: space-between;
    display: flex;
    margin-right: 0px;
    padding: 10px;
    z-index:100;
    transition: 0s;
}

.mdi-download{
    cursor:pointer!important;
}

#unplanned_stop_tables tbody tr td{
    white-space: nowrap;
}

.no-wrap{
    white-space: nowrap;
}

.navigation-icon i{
    font-size: 27px;
    margin:0px 10px;
}
.navigation-icon{
    padding-right: 10px;
    margin-bottom: 5px;
}
.navigation-icon ul{
    list-style: none;
    display: flex;
    cursor: pointer;
}
.dropdown-toggle{
    width:200px !important;
}
.notify-badge{
    position: absolute;
    top: 0px;
    right: -2px;
    padding: 0px 6px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 12px;

}
#notification{
    min-height:300px;
    max-height:300px;
    overflow-y: scroll;
}
.notification-wrap{
    position: relative;
    display: none;
    width:300px;
    top:65px;
    right: 80px;
    position:absolute;
    opacity:1;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 2px 2px 2px silver;
    animation: fadein 0.5s;

}
.notify-content{
   width:100%;
   position: relative;
   display: flex;
   top:10px;
   margin: 10px 0px;;
}

.notify-logo{

    font-size: 16px;
    position: relative;
    top:50%;


    padding:5px;

}
.notify-active{
    opacity:1;
    height:auto;
    display: inline-block;

}
.notify-title{
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid silver;
}
.notify-message{
    font-size: 14px;
}

.notify-time{
    font-size: 14px;
    color: rgb(145, 143, 143);
}

.notify-all{

    margin: 0px 10px;
    padding: 5px 0px;

    text-align: center;
}

.menu-icon{
    font-size: 26px;
    margin-top: 5px;
    cursor: pointer;
}

.dash-tabs{
    display: flex;
    justify-content: space-between;

}

.active-borders{
    border-bottom: 3px solid #2F80ED;
    color: #2F80ED;
}
.tabs div:hover{
    border-bottom: 3px solid #2F80ED;
    cursor: pointer;
    color: #2F80ED;
    animation: fadein 0.6s;
}


.cards{

    border-radius: 15px;
    /* background: #222B45; */
    margin:10px 0px;


}

.card-trend-up{

    padding:2px 4px;
    margin-right:5px;
}


.card-trend-down{
    padding:2px 4px;
    margin-right:5px;
}
.cards table{
    margin: 0px;
    width:100%;

}

.cards-content{
    display: flex;
    justify-content: space-between;
    margin-top:10px;


}
.cards-width{
    width:250px;
    height:100px;
}
.cards-icon{
    position: relative;
    font-size: 40px;
    top:-10px;
    border-radius: 10px;
    padding:0px 10px;
    right:10px;
}

.cards-body{
    padding:0px 5px;
}

.text-border{
    border-left: 4px solid #2F80ED;
    border-top-left-radius: 14px;
    position: relative;
    display: inline-block;
    padding: 0px 0px;
    bottom:0px;
}

.buttons-html5 span{
    font-weight:700!important;
}
.badge{
    margin:5px !important;
}
.badges{
    display:inline-block;
    padding:5px;
    margin:10px 3px;
    border-radius:3px;
    font-weight:700!important;
    font-size:11px;

}


/* Ripple effect */

 .btn-ripple{
    font-family: 'Lato', sans-serif;
    text-decoration: none !important;
    border:none;
    padding:0.3rem 1rem;
    color:#fff !important;
    font-size:1rem;
    outline:none;
    border-radius:4px;
    box-shadow:2px 2px 10px rgba(0,0,0,.3);
  }
  .ripple{
    position:relative;
    overflow:hidden;
    cursor:pointer;
    float:left;
  }
  .ripple_wave{
    background:rgb(247, 235, 235);
    height:5px;
    width:5px;
    border-radius:100%;
    animation: ripple 0.8s;
    position:absolute;
    top:50%;
    left:50%;
  }

  @keyframes ripple{
    0%{
      transform:scale(0);
      opacity:1;
    }
    100%{
      transform:scale(70);
      opacity:0;
    }
  }


.bolder{
    font-weight: 700;
}


#alert_report tr td,#tankalert_report_wrapper tr td,#tempalert_report_wrapper tr td{
    white-space: nowrap !important;
    padding:10px 5px;
}

.dataTables_wrapper {
    width:99%;
}

.dataTables_length{
    width:100%;
    padding:10px;
    font-weight: 600;
}
.dataTables_length label{
    display: inline-flex;

}
.dataTables_length label select{
    width:30%;
    margin: -4px 10px;
}
.dataTables_filter label{
    font-weight: 600;
    display: flex;
    margin: 0px 0px;
    padding:20px 10px;
}
.dt-buttons{
    margin:0px;
}
.dt-buttons span{
    font-size: 0.95rem;
}
.dataTables_filter label input{
    width: 20%;
    margin:0px 10px;
}
.dataTables_info{
    font-weight: 600;
    /* margin-left: 20px; */
    padding-top: 5px;
}
.apexcharts-toolbar{
    align-items: unset !important;
}
.apexcharts-toolbar>div{
    margin-left: 0.2rem;
}
.dataTables_paginate{
    font-weight: 600;
    float: right;
    position: relative;
    right:20px;
}
/* .dataTable tbody tr td{
    padding: 20px !important;

} */

#unplanned_stop_table_filter input{
    width:100% !important;
}
.row{
    margin:0px !important;
}

.page-link{

    margin:0px 2px;
}


/*   Employee Page   */

.emp-user-profile{
    justify-content: center;

}

/*  Settings Page  */

.cards-setting{
    height:500px;
}
.settings div{
    background-color: #2F80ED;
}
.settings-nav{

    list-style-type: none;
    padding:10px 0px;
    margin-left: 20px;
    text-align: left;
}
.settings-nav li{
    padding: 10px 0px 10px 30px;
    margin: 20px 0px;
    margin-right:15px;
    cursor: pointer;

}
.settings-nav li i{
    padding-right: 20px;
    color: white;
}
.settings-nav li a{
    text-decoration: none;
    color: white !important;


}
.settings-nav li:hover {
    border-left:4px solid white;
    background-color: white;
    color:black !important;
    font-size: 17px;
    color: #2F80ED;
    border-radius: 20px;

}
.settings-nav li:hover a{
    color:black !important;
}
.settings-nav li:hover i{
    color:black;
}
.settings-active{
    border-left:4px solid white;
    font-size: 17px;
    border-radius: 0px 20px 20px 0px;
}


.theme-img{
    width:150px;
    height:150px;
}

/* Report Page */


/* Form Designs */

.forms-group{

    margin:0px 0px;

}

input[type=text]{
    /* background-color: #222B45; */

    height: 34px;
}

.forms-group input{
    border:0;
    outline: 0;
    width:100%;
    font-size: 18px;
    /* background-color: #222B45; */
    border-bottom: 1px solid silver ;

    font-weight: 400;
}
.forms-group input:focus{
    outline:none;
    border:0;
    border-bottom: 2px solid #2F80ED ;
}

input[type=file]::file-selector-button {

    padding: 5px 10px;
    border-radius: .2em;
    background-color: rgb(3, 143, 224);
    transition: 1s;
    border :0;
    outline: 0;
    color: white;
  }

  .nav-tabs{
      border:0px !important;
  }


/*Loading Screen */

.wrapper,.analytics-wrapper{
    position:absolute;
    top:10%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:1;
  }
  .circle{
    display: inline-block;
    width: 15px !important;
    height: 15px !important;
    background-color: #298ffc;
    border-radius: 50%;
    animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
    transform-origin: bottom center;
    position: relative;
  }
  @keyframes loading{
    0%{
      transform: translateY(0px);
      background-color: #298ffc;
    }
    50%{
      transform: translateY(50px);
      background-color: #ef584a;
    }
    100%{
      transform: translateY(0px);
      background-color: #298ffc;
    }
  }
  .circle-1{
    animation-delay: 0.1s;
  }
  .circle-2{
    animation-delay: 0.2s;
  }
  .circle-3{
    animation-delay: 0.3s;
  }
  .circle-4{
    animation-delay: 0.4s;
  }
  .circle-5{
    animation-delay: 0.5s;
  }
  .circle-6{
    animation-delay: 0.6s;
  }
  .circle-7{
    animation-delay: 0.7s;
  }
  .circle-8{
    animation-delay: 0.8s;
  }

.badge-blue{
    border-radius:2px;
    font-size:10px;
    padding:2px 5px;
    background-color: rgb(166, 204, 255)!important;
    color:rgb(0, 32, 73)!important;
}

.form-cam{
    padding:2rem 3rem;
}

/*SCROLL BAR  */
::-webkit-scrollbar {
    width: 10px;

  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .cursor-pointer{
    cursor: pointer !important;
  }

/*  Skeleton  */
.skeleton {
    padding:15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skeleton .square {
    height: 80px;
    border-radius: 5px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-squares 2s infinite ease-out;
}
.skeleton .line {
    height: 12px;
    margin-bottom:6px;
    border-radius: 2px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-lines 2s infinite ease-out;
}
.skeleton-right{
   flex:1;
}
.skeleton-left{
   flex:2;
   padding-right:15px;
}
.flex1{
   flex: 1;
}
.flex2{
   flex: 2;
}
.skeleton .line:last-child{
   margin-bottom: 0;
}
.h8{
   height: 8px !important;
}
.h10{
   height: 10px !important;
}
.h12{
   height: 12px !important;
}
.h15{
   height: 15px !important;
}
.h17{
   height: 17px !important;
}
.h20{
   height: 20px !important;
}
.h25{
   height: 25px !important;
}
.w25{
   width: 25% !important
}
.w40{
   width:40% !important;
}
.w50{
   width: 50% !important
}
.w75{
   width: 75% !important
}
.m10{
   margin-bottom: 10px !important;
}

@keyframes wave-lines {
    0% {
        background-position: -468px 0;
    }
     100% {
        background-position: 468px 0;
    }
 }
 @keyframes wave-squares {
    0% {
        background-position: -468px 0;
    }
     100% {
        background-position: 468px 0;
    }
 }

#oee svg{
    margin :-40px -80px;
    padding: 30px 0px;
}
 /* Animation Move */
/* Hide scrollbar for Chrome, Safari and Opera */
.beam-scroll{
    overflow-y:scroll !important;
}

 .beam-move{
     animation: move 8s infinite;
 }
 @keyframes move{
    0%{
        transform:translateY(0%)
    }
    50%{
        transform:translateY(-23%)
    }
    100%{
        transform:translateY(0%)

    }
}

#id_address{
    width:100%;
    height:150px;
}

/*Drag And Drop */
.home-container{
    min-height:100vh;
}
.ui-resizable-helper { border: 2px dotted #00F; }
@media only screen and (max-width:600px){

    .logo-responsive-active img{
        display: block;
    }
    .lt_logo{
        display: none;
    }
    .side-nav-sm{
        display: none;
    }
    .content{
        margin-left: 0px ;
    }
    .side-nav-responsive{
        height: 100%;
        position: fixed;
        /* background-color: #222B45; */
        color: #fff;
        transition: 0s;
        box-shadow: 2px 2px 10px black;
        z-index:1;
    }
    .responsive-menu{
        display: flex;
        justify-content: space-between;

    }

    .close-menu{
        position:relative;
        font-size: 25px;
        display:block;
        right:30px;
        top:10px;
        cursor: pointer;
    }
    .content{
        position: relative;
        left:0;
    }
    .logo img{
        display:block;
    }
    .navigation-icon li{
        margin-right: 10px;


    }
    .navigation-icon{
        padding:0px;
    }
    .navigation-icon li i{
        font-size: 25px;
        margin: 8px 5px;
        padding:0px;

    }
    .logo-responsive img{
        display: block;
        width:auto;
        height: 40px;
    }
    .user-profile{
        margin:0px;
    }

    .user-name-role{
        display: none !important;

    }
    .notification-wrap{
        right:10px;
    }
    .dash-content{
        margin:15px 10px;
    }
    .dash-tabs{
        display: block;

    }
    .dash-heading{
        font-size: 23px;

    }
    .shift-tab{
        width: 50%;
    }
    .tabs{
        margin:20px 0px;
    }

    .form-cam{
        padding:1rem 1.5rem;
    }
}
@media only screen and (max-width:800px){

    .custome-p{
        padding:0 !important
    }

    
    .logo-responsive img{
        display: block;
    }
    .lt_logo{
        display: none;
    }
    .side-nav-sm{
        display: block;
    }

    .content-responsive{
        position: relative;
        margin-left:220px;
    }
    .content{
        margin-left:0px;
    }

    .navigation-icon i{
        font-size: 30px;
        margin: 8px 5px;
        padding:0px;

    }
    .navigation-icon{
        padding:0px;
    }
    .navbar-small{
        line-height: 35px;
        font-size: 20px;
        margin-top:50px;

    }

    .content-responsive{
        margin-left: 0px;
    }
    .side-nav{
        z-index:1;
    }

}

.custome-p {
    padding-right: 0!important;
}

@media (min-width: 1200px){
    .custome-card-width {
        max-width: 66% !important;
    }
    
}

@media (min-width: 992px){
  
}

button[role="combobox"]{
    width: 100% !important;
}

.bg_gradient_own {
    background-position: 0 0 !important;
    animation: shine 1s infinite ease-out;
}

@keyframes shine {
    to {
        background-position: 100% 0, 0 0; /* move highlight to right */ 
    }
}
.icon-rounded{
    border-radius: 50%;
    padding: 0.4rem 0.6rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
}

table.dataTable,
table{
    border-radius: 10px 10px 0 0;
    border: none;
}
table.dataTable thead > tr:nth-child(1) > th:nth-child(1),
table thead > tr:nth-child(1) > th:nth-child(1){
    border-radius: 10px 0 0 0;
}
table.dataTable thead > tr:nth-child(1) > th:last-child,
table thead > tr:nth-child(1) > th:last-child{
    border-radius: 0 10px 0 0;
}
table.dataTable thead > tr:nth-child(1) > th,
table.dataTable.no-footer{
    border-bottom: none !important;
}
table.dataTable thead tr,
table thead tr,
.calendar-table table thead tr{
    background: var(--bg-gradient);
    color:#fff !important;
    border: 1px solid transparent !important;
    color: #fff;
    padding: 1rem;
}
.table-responsive,.table-lg-own-responsive{
    display: inline-table !important;
    border-radius: 10px 10px 0 0;
}
table th{
    border: 1px solid #fff !important;
}
table td,
.table-bordered thead th{
    border: 1px solid #dee2e6 !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #d9dcf0 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #d9dcf0 !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(61 83 255 / 4%) !important;
}
.chart_overlay{
    position: absolute;
    top: 0;
    /* background: #fff; */
    width: 98%;
    height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 99;
  
    background: rgb(237 237 237 / 18%);
    border-radius: 16px;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
}
select.chart_filter {
    width: 50%;
    text-align: left;
    float: right;
}
.dataTables_wrapper .dataTables_filter input{
    padding: 0.6rem !important;
}
.dataTables_filter label input[type='search'] {
    width: 50% !important;
    margin-top: -0.2rem;
}
.dataTables_filter label{
    justify-content: end;
    align-items: baseline;
}
/* .dataTables_wrapper{ */
    /* display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end; */
/* } */

div.swal2-warning .swal2-icon-content,
div.swal2-icon.swal2-warning{
    color: #C62E2E !important;
    border-color: #C62E2E !important;
}

@media only screen and (max-width:934px){
    .dropdown-toggle{
        top:12.2rem !important;
    }
}
@media only screen and (max-width:1366px){
    .dropdown-toggle{
        top:6.5rem !important;
    }
}
@media only screen and (max-width:1300px){
    div.swal2-popup{
        width: 25rem !important;
    }
    /* div.swal2-icon{
        width: 4rem !important;
        height: 4rem !important;
    } */
}
@media only screen and (max-width:1500px){
    .table-lg-own-responsive{
        display: block !important;
        border-radius: 10px 10px 0 0;
    }
}
.bootstrap-select>.dropdown-toggle{
    position: unset !important;
}
div .dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
    color: #a3a3a3 !important;;
}